.main-Container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap:20px;
}
.speaker-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 30px;
}